/*General*/

@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

* {
    font-family: 'Didact Gothic', sans-serif;
}

/*NavBar*/

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #78746f;
    font-weight: 600;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #78746f;
    font-weight: 600;
}

@media (max-width: 798px) {
    .navbar {
        padding: 0;
    }

    .navbar-light .navbar-nav .nav-link {
        padding-left: 1em;
        padding-right: 1em;
    }

    .navbar-nav .dropdown-menu {
        border-top: 1px solid #d5d1cc;
        border-bottom: 0;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
    }

    .navbar-light .navbar-brand {
        padding-left: 1em;
    }

    .navbar-light .navbar-toggler {
        margin-right: 1em;
    }
}